.anime-card {
  box-shadow: 0.5px 0.5px 8px 1px orange;
  padding: 5px;
  border-radius: 10px;
  overflow: hidden;
  height: 100%;
  transition: transform 1s;
  background-color: black;
  position: relative;
}
.anime-card:hover {
  transform: scale(1.05) rotateY(-10deg) rotateZ(1deg);
}
.anime-card-img {
  width: 100%;
  height: 285px;
  max-height: 285px;
}
.anime-card-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent 60%, rgba(0, 0, 0, 1) 100%);
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-between;
}

.anime-card-content h3 {
  letter-spacing: 1.5px;
  line-height: 26px;
}

.anime-card-content .top {
  padding: 10px;
}
