<div class="container py-3">
  <mat-form-field>
    <mat-label>Anime Name</mat-label>
    <input
      type="text"
      [(ngModel)]="searchTerm"
      matInput
      placeholder="Enter Anime Name"
    />
  </mat-form-field>
  <button mat-icon-button color="primary" (click)="filterAnimes()">
    <mat-icon>search</mat-icon>
  </button>
</div>

<div class="container">
  <h1>Anime List</h1>
  <div class="row">
    <div
      class="col-12 col-md-3 col-lg-2 p-2"
      *ngFor="let anime of animes"
      @animeList
    >
      <a [routerLink]="['anime', anime.id]" class="anime-link">
        <img
          class="anime-cover-img mb-1"
          [src]="anime.coverImage.large"
          [alt]="anime.title"
        />
        <h4 class="text-center">
          {{ anime.title.english ? anime.title.english : anime.title.romaji }}
        </h4>
      </a>
    </div>
  </div>
  <div class="d-flex justify-content-center my-5">
    <button
      *ngIf="currentPage !== 0"
      mat-raised-button
      (click)="loadMoreAnimes()"
    >
      Load More
    </button>
  </div>
</div>
