<div class="container py-3">
  <mat-form-field>
    <mat-label>Anime Name</mat-label>
    <input
      type="text"
      [(ngModel)]="searchTerm"
      matInput
      placeholder="Enter Anime Name"
    />
  </mat-form-field>
  <button mat-icon-button color="primary" (click)="filterAnimes()">
    <mat-icon>search</mat-icon>
  </button>
</div>

<div class="container">
  <h1>Anime List</h1>
  <div class="row">
    <app-anime-card
      *ngFor="let anime of animes"
      [anime]="anime"
      class="col-12 col-md-4 col-lg-3 col-xl-2 mb-4"
    ></app-anime-card>
  </div>
  <div class="d-flex justify-content-center my-5">
    <button
      *ngIf="currentPage !== 0"
      mat-raised-button
      (click)="loadMoreAnimes()"
    >
      Load More
    </button>
  </div>
</div>
