<header class="header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" routerLink="/">AniSearch</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              routerLink="/"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/anime"
              >Browse</a
            >
          </li>
        </ul>
        <!-- FireBase Auth -->
        <!-- <form class="d-flex" *ngIf="!token">
          <button
            type="button"
            class="btn btn-outline-primary me-2"
            routerLink="/login"
          >
            Login
          </button>
          <button type="button" class="btn btn-primary" routerLink="/signup">
            Sign-up
          </button>
        </form>
        <form class="d-flex" *ngIf="token">
          <button type="button" class="btn btn-danger" (click)="logout()">
            Log Out
          </button>
        </form> -->
        <form class="d-flex" *ngIf="!anilistToken">
          <a
            href="https://anilist.co/api/v2/oauth/authorize?client_id=4194&response_type=token"
            class="btn btn-primary"
            >Login With AniList</a
          >
        </form>
        <form class="d-flex" *ngIf="anilistToken">
          <div class="flex-shrink-0 dropdown">
            <a
              href="#"
              class="d-block link-light text-decoration-none dropdown-toggle"
              id="dropdownUser2"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Hello, {{ name ? name : "User" }}
            </a>
            <ul
              class="dropdown-menu text-small shadow"
              aria-labelledby="dropdownUser2"
            >
              <li>
                <a class="dropdown-item" [routerLink]="['/profile']">Profile</a>
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" (click)="logout()">Sign out</a></li>
            </ul>
          </div>
        </form>
      </div>
    </div>
  </nav>
</header>
