<header class="header">
  <div
    class="container d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
  >
    <h1
      routerLink="/"
      class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark fw-bold cursor-pointer"
      role="button"
    >
      AniSearch
    </h1>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a routerLink="/" class="nav-link px-2 link-dark">Home</a></li>
      <li><a routerLink="/anime" class="nav-link px-2 link-dark">Browse</a></li>
    </ul>

    <div class="col-md-3 text-end" *ngIf="!token">
      <button
        type="button"
        class="btn btn-outline-primary me-2"
        routerLink="/login"
      >
        Login
      </button>
      <button type="button" class="btn btn-primary" routerLink="/signup">
        Sign-up
      </button>
    </div>
    <div class="col-md-3 text-end" *ngIf="token">
      <button type="button" class="btn btn-danger" (click)="logout()">
        Log Out
      </button>
    </div>
  </div>
</header>
