<div
  class="mainBg"
  [ngStyle]="{
    background:
      'url(' +
      anime.bannerImage +
      ') no-repeat center center/cover, linear-gradient(rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.8) 100%)'
  }"
  *ngIf="anime"
>
  <div class="container mt-2">
    <div class="row">
      <div class="col-12 col-lg-3 mb-5 mb-lg-0">
        <div class="p-4">
          <img
            [src]="anime.coverImage.large"
            [alt]="anime.title.romaji"
            class="img-fluid cover-img"
          />
          <div class="dropdown">
            <p
              class="btn dropdown-toggle d-block mt-4"
              [ngClass]="{
                'btn-secondary': !animeStatus,
                'btn-primary':
                  animeStatus === 'CURRENT' || animeStatus === 'REPEATING',
                'btn-success': animeStatus === 'COMPLETED',
                'btn-warning': animeStatus === 'PLANNING',
                'btn-info': animeStatus === 'PAUSED',
                'btn-danger': animeStatus === 'DROPPED'
              }"
              type="button"
              id="dropdownMenuButton1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              {{ animeStatus ? animeStatus : "Add To List" }}
              {{
                animeStatus
                  ? animeStatus === "CURRENT" || animeStatus === "REPEATING"
                    ? " - " + animeProgress + " Eps"
                    : ""
                  : ""
              }}
            </p>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li>
                <a class="dropdown-item" (click)="updateStatus('PLANNING')"
                  >PLANNING</a
                >
              </li>
              <li>
                <a class="dropdown-item" (click)="updateStatus('CURRENT')"
                  >CURRENT</a
                >
              </li>
              <li>
                <a class="dropdown-item" (click)="updateStatus('COMPLETED')"
                  >COMPLETED</a
                >
              </li>
              <li>
                <a class="dropdown-item" (click)="updateStatus('REPEATING')"
                  >REPEATING</a
                >
              </li>
              <li>
                <a class="dropdown-item" (click)="updateStatus('PAUSED')"
                  >PAUSED</a
                >
              </li>
              <li>
                <a class="dropdown-item" (click)="updateStatus('DROPPED')"
                  >DROPPED</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-9">
        <div class="anime-info p-4">
          <div class="anime-header d-flex justify-content-between">
            <div class="titles">
              <h1 class="fw-bold mb-0">{{ anime.title.english }}</h1>
              <small>
                <em>
                  {{ anime.title.romaji + ", " + anime.title.native }}
                </em>
              </small>
            </div>
            <div
              class="title-info d-flex align-items-center justify-content-center"
            >
              <mat-icon class="me-2">thumb_up</mat-icon>
              <h2 class="mb-0 me-3">{{ anime.averageScore }}%</h2>
              <mat-icon class="me-2">favorite</mat-icon>
              <h2 class="mb-0">{{ anime.favourites }}</h2>
            </div>
          </div>
          <div class="metaInfo mt-3">
            <div class="badge bg-warning me-2">{{ anime.format }}</div>
            <div class="badge bg-primary me-2">
              {{ anime.episodes }} Episodes
            </div>
            <div class="badge bg-secondary me-2 fw-bold">
              {{ anime.duration }}m / ep
            </div>
            <div class="badge bg-dark">
              {{ anime.season }} - {{ anime.seasonYear }}
            </div>
          </div>
          <p
            class="description mt-3 text-justify"
            [innerHTML]="anime.description | sanitizeHtml"
          ></p>
          <hr />

          <div class="mt-2">
            <h3 class="title">Genres</h3>
            <h5
              role="button"
              class="genre badge bg-primary px-3 me-2"
              *ngFor="let genre of anime.genres"
              [routerLink]="['/genre', genre]"
            >
              {{ genre }}
            </h5>
          </div>
          <hr />
          <div class="mt-2">
            <h3 class="card-title d-flex justify-content-between">
              <div>Episodes</div>

              <div
                *ngIf="animeProgress"
                class="progress"
                style="
                  width: 200px;
                  box-shadow: 0px 0px 1px 0.4px var(--primary-color);
                "
              >
                <div
                  class="progress-bar bg-warning"
                  [ngStyle]="{
                    width: (animeProgress * 100) / anime.episodes + '%'
                  }"
                  role="progressbar"
                  aria-valuenow="2"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  {{ (animeProgress * 100) / anime.episodes | number: ".0-0" }}
                </div>
              </div>
            </h3>
            <div class="episodes-list" *ngIf="animeDetails">
              <h4
                class="badge bg-primary px-3 py-1 me-2"
                [ngClass]="{
                  'bg-secondary': +episode.episodeNum <= animeProgress
                }"
                *ngFor="let episode of animeDetails.episodesList"
                [routerLink]="[
                  '/',
                  animeDetails.animeTitle | urlEncode,
                  episode.episodeId
                ]"
              >
                <!-- + before the variable converts it into a number -->
                {{
                  +episode.episodeNum < 10
                    ? "0" + episode.episodeNum
                    : episode.episodeNum
                }}
              </h4>
            </div>
          </div>
          <hr />
          <div class="mt-2">
            <h3 class="title">Tags</h3>
            <div class="badge bg-info me-2 mb-2" *ngFor="let tag of anime.tags">
              {{ tag.name }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
