<div class="container" *ngIf="episodeId">
  <div class="episode-container">
    <mat-toolbar>
      <mat-toolbar-row class="d-flex justify-content-between">
        <span
          >Ep {{ episodeId.split("-")[episodeId.split("-").length - 1] }}</span
        >
      </mat-toolbar-row>
    </mat-toolbar>
    <!-- <iframe
      [src]="streamUrl | safe"
      referrerpolicy="unsafe-url"
      *ngIf="streamUrl; else streamPlaceholder"
      allowfullscreen
      class="episodeVideo"
    ></iframe> -->
    <ng-template #streamPlaceholder>
      <div
        class="episodeVideo d-flex justify-content-center align-items-center"
      >
        <h1>Video Will Load Soon....</h1>
      </div>
    </ng-template>
    <div
      class="anime-details d-flex justify-content-between mt-3"
      *ngIf="animeDetails"
    >
      <div>
        <h2 [routerLink]="anime ? ['/anime', anime.id] : []">
          {{ animeDetails.animeTitle }}
        </h2>
      </div>
      <h2>
        <div class="badge">
          {{ animeDetails.status }}
        </div>
        <button class="btn btn-primary me-2" (click)="previousEpisode()">
          Previous Episode
        </button>
        <button class="btn btn-success" (click)="nextEpisode()">
          Next Episode
        </button>
      </h2>
    </div>
    <div class="episode-list mt-2 mb-5" *ngIf="animeDetails">
      <h4
        class="badge bg-secondary me-3 episode-badge"
        *ngFor="let episode of animeDetails.episodesList"
        [routerLink]="[
          '/',
          animeDetails.animeTitle | urlEncode,
          episode.episodeId
        ]"
        routerLinkActive="bg-success"
      >
        {{ episode.episodeNum }}
      </h4>
    </div>
  </div>
</div>
