<div class="container" *ngIf="episodeId">
  <div class="episode-container">
    <div class="bg-dark p-3">
      <div class="d-flex justify-content-between fw-bold">
        <span
          >Ep {{ episodeId.split("-")[episodeId.split("-").length - 1] }}</span
        >
      </div>
    </div>
    <iframe
      #someVar
      [src]="streamUrl | safe"
      referrerpolicy="unsafe-url"
      *ngIf="streamUrl; else streamPlaceholder"
      allowfullscreen
      class="episodeVideo"
    ></iframe>
    <ng-template #streamPlaceholder>
      <div
        class="episodeVideo d-flex justify-content-center align-items-center"
      >
        <h1>Video Will Load Soon....</h1>
      </div>
    </ng-template>
    <div
      class="anime-details d-flex justify-content-between mt-3"
      *ngIf="animeDetails"
    >
      <div>
        <h2 [routerLink]="anime ? ['/anime', anime.id] : []">
          {{ animeDetails.animeTitle }}
        </h2>
      </div>
      <h2>
        <div class="badge">
          {{ animeDetails.status }}
        </div>
        <button class="btn btn-primary me-2" (click)="previousEpisode()">
          Previous Episode
        </button>
        <button class="btn btn-success" (click)="nextEpisode()">
          Next Episode
        </button>
      </h2>
    </div>
    <div class="episode-list mt-2 mb-5" *ngIf="animeDetails">
      <h4
        class="badge bg-secondary me-2 episode-badge"
        *ngFor="let episode of animeDetails.episodesList"
        [routerLink]="[
          '/',
          animeDetails.animeTitle | urlEncode,
          episode.episodeId
        ]"
        routerLinkActive="bg-success"
      >
        <a>
          {{ episode.episodeNum }}
        </a>
      </h4>
    </div>
    <div class="more-info mt-2">
      <h2 class="mb-1">Genres</h2>
      <div class="genres d-flex g-2 mb-4">
        <div
          role="button"
          class="genre me-2"
          *ngFor="let genre of anime.genres"
          [routerLink]="['/genre', genre]"
        >
          <em> {{ genre }}</em>
        </div>
      </div>
    </div>
  </div>
</div>
