<div class="container">
  <div class="row d-flex justify-content-center">
    <form
      [formGroup]="form"
      (ngSubmit)="submit()"
      class="col-12 col-md-8 col-lg-3"
    >
      <h2 class="text-center">Sign Up</h2>
      <p *ngIf="error" class="error">
        {{ error }}
      </p>
      <mat-form-field>
        <input
          type="email"
          matInput
          formControlName="email"
          placeholder="Enter Email Address"
          required
        />
      </mat-form-field>

      <mat-form-field>
        <input
          type="password"
          matInput
          placeholder="Enter Password"
          formControlName="password"
          required
        />
      </mat-form-field>

      <div class="button mt-2">
        <button type="submit" mat-button>Log In</button>
      </div>
    </form>
  </div>
</div>
