* {
  user-select: none;
}
:root {
  --primary-color: #ea9828;
}
*[ng-reflect-router-link] {
  cursor: pointer;
}
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  /* background-color: #e4e4e4; */
  background-color: transparent;
  border-radius: 100px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 100px;
}

a {
  text-decoration: none;
  color: white;
}
/* Anime Card Hover Traingle */
.animeCardHoverLeft::before {
  content: "";
  position: absolute;
  left: 0;
  top: 20px;
  width: 12px;
  height: 12px;
  background-color: var(--primary-color);
  transform: rotate(-45deg) translateX(-50%);
  z-index: -1;
}

.animeCardHoverRight::before {
  content: "";
  position: absolute;
  right: 0;
  top: 20px;
  width: 12px;
  height: 12px;
  background-color: var(--primary-color);
  transform: rotate(-45deg) translateX(50%);
  z-index: -1;
}

app-root > * > div {
  padding-top: 75px;
}
/* @media screen and (max-width: 768px) {
  app-root > * > div {
    padding-top: 175px;
  }
} */
